.sortable > span {
    cursor: pointer;
    user-select: none;
}

.sortUp > span {
    font-weight: bold;
}

.sortDown > span {
    font-weight: bold;
}


td.sortable > span::before {
    content: "↕";
    margin-right: 4px;
    opacity: 0.3;
}


td.sortDown > span::before {
    content: "↑";
    margin-right: 4px;
    font-weight: bold;
    opacity: 1;
}

td.sortUp > span::before {
    content: "↓";
    margin-right: 4px;
    opacity: 1;
    font-weight: bold;
}



thead {
    position: sticky;
    top: 5px;
    z-index: 10000;
    border-radius: var(--radius-box);
    background-color: var(--root-bg, var(--color-base-100));
}

